@import "../../index.scss";

header {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/img/Back.png");
  background-repeat: no-repeat;
  background-size: cover;
  @include cent;
}
nav{
  width: 95%;
  height: 10%;
  border-bottom: 2px solid $white;
  color: $white;
  @include between;

  h1{
    font-family: "MachinaBold";
  }

  ul{
    width: 40%;
    @include around;
    font-family: "MachinaLight";

    li{
      list-style-type: none;
    }
  }

  div{
    width: 15%;
    @include around;
  }
}
.navRight{
}
.navLeft{
  @include column;
}