// VARIABLES & PREFERENS
$primary: #5500ff;
$black: #222222;
$white: #ffffff;

*{
  margin: 0;
  padding: 0;
}

// FONTS
@font-face{
  font-family: "Machina";
  src: url("./assets/font/NeueMachina-Regular.otf");
}
@font-face{
  font-family: "MachinaLight";
  src: url("./assets/font/NeueMachina-Light.otf");
}
@font-face{
  font-family: "MachinaBold";
  src: url("./assets/font/NeueMachina-Ultrabold.otf");
}

// MIXINS
@mixin center{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@mixin between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin full{
  width: 100%;
  height: 100%;
}
@mixin cent{
  display: flex;
  justify-content: center;
}